@import 'src/styles/colors.scss';

.Projects {
  background-color: white;
  //background: linear-gradient(45deg, $deepred 0%, $red 100%);
  padding: 30px 150px;
  height: 93vh;

  @media screen and (max-width: 830px) {
    padding: 30px;
  }

  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1366px) {
      flex-direction: column;
    }
  }

  .text {
    display: flex;
    flex-direction: column;

    padding: 50px 0;
    color: white;

    p {
      max-width: 500px;
      padding: 10px 0;

      @media screen and (max-width: 1366px) {
        max-width: none;
      }
    }
  }

  .list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .Project {
      margin: 10px;
    }
  }

  .text_content {
    margin-bottom: 50px;
    color: black;
  }
}
