.Form {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-right: 120px;
  max-width: 600px;

  @media screen and (max-width: 1366px) {
    max-width: none;
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: space-between;


    span {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 300;

      padding: 15px 0;

      img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
    }
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .TextInput {
      width: 100%;

      &:not(:nth-child(3)) {
        width: calc(50% - 5px);
      }
    }
  }

  .message_sent {
    text-align: center;
    margin-top: 60px;
    font-size: 2em;
    color: #23a94b;
  }

  .message_sent_details {
    text-align: center;
    margin-top: 10px;
    font-size: 1em;
    color: #23a94b;
  }

  .message_error {
    margin-left: 5em;
    margin-top: 10px;
    font-size: 1em;
    color: #c0272d;
  }
  .message_error_details {
    margin-left: 7em;
    font-size: 1em;
    color: #c0272d;
  }
}
