@import 'src/styles/colors.scss';

.About {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  width: 100%;
  padding: 20px 150px;
  box-sizing: border-box;
  background: linear-gradient(45deg, $deepred 0%, $red 100%);

  @media screen and (max-width: 830px) {
    padding: 20px 30px;
  }


  .Title {
    margin-bottom: 50px;
    font-size: 80px;
    text-align: center;
    @media screen and (max-width: 1200px) {
      margin-bottom: 40px;
      font-size: 70px;
    }
    @media screen and (max-width: 992px) {
      margin-bottom: 30px;
      font-size: 60px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
      font-size: 50px;
    }
    @media screen and (max-width: 600px) {
      margin-bottom: 10px;
      font-size: 40px;
    }
  }

  .content {
    .Person {
      margin-bottom: 10px;
    }
    display: flex;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      padding: 0 0px;
    }
    justify-content: center;
    p {
      max-width: 700px;

      width: 100%;
    }

    .people {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-left: auto;

      @media screen and (max-width: 1366px) {
        width: 100%;
        margin: 30px auto;
      }

    }
  }
}
