.Project {
  display: flex;
  align-items: center;

  .text {
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    h1,
    h2 {
      font-size: 18px;
    }

    h1 {
      font-weight: 600;
    }
  }

  img {
    height: 50px;
  }
}
