.Contact {
  padding: 50px 150px;
  height: 90vh;
  background-color: white;

  @media screen and (max-width: 1000px) {
    padding: 15px;
  }

  .Map {
    margin-left: 20px;
    width: 600px;
    height: 350px;
    border: 0;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1366px) {
      flex-direction: column;
      padding: 30px;
    }
  }

  .Button {
    margin: 20px 0 0 auto;
    padding: 15px;

    border-color: #666;
    color: #666;

    &:before {
      background-color: #666;
    }

    &:hover {
      color: white;
    }
  }

  .sponsor {
    margin-top: 50px;
    text-align: center;
    font-size: 1.5em;
    color: green;
  }

  .sponsor_images_container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sponsor_img {
    margin-left: 35px;
    height: 90px;
    width: 120px;
  }

  .sponsor_img_wider {
    margin-left: 35px;
    height: 70px;
    width: 200px;
  }

}
