.Contact {
  padding: 50px 150px;
  min-height: 50vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Title {
    margin-bottom: 50px;
    font-size: 80px;
    text-align: center;
    @media screen and (max-width: 1200px) {
      margin-bottom: 40px;
      font-size: 70px;
    }
    @media screen and (max-width: 992px) {
      margin-bottom: 30px;
      font-size: 60px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
      font-size: 50px;
    }
    @media screen and (max-width: 600px) {
      margin-bottom: 10px;
      font-size: 40px;
    }
  }

  @media screen and (max-width: 1000px) {
    padding: 15px;
  }

  .Map {
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 350px;

    @media screen and (max-width: 1200px) {
      width: 550px;
    }
    @media screen and (max-width: 992px) {
      width: 500px;
      height: 300px;
    }
    @media screen and (max-width: 768px) {
      width: 450px;
    }
    @media screen and (max-width: 600px) {
      width: 300px;
      height: 250px;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }
  }
  .Form {
    margin-right: 40px;
  }

  .Button {
    margin: 20px 0 0 auto;
    padding: 15px;

    border-color: #666;
    color: #666;

    &:before {
      background-color: #666;
    }

    &:hover {
      color: white;
    }
  }

  .sponsor {
    margin-top: 50px;
    text-align: center;
    font-size: 1.5em;
    color: green;
  }

  .sponsor_images_container {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .sponsor_img {
    width: 200px;
    @media screen and (max-width: 1200px) {
      width: 180px;
    }
    @media screen and (max-width: 992px) {
      width: 160px;
    }
    @media screen and (max-width: 768px) {
      width: 140px;
    }
    @media screen and (max-width: 600px) {
      width: 120px;
    }
    margin-left: 20px;
    margin-right: 20px;
  }

}
